/* Navigation */
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto Slab', serif;  
}

body
{
	background-color: white;
	min-height: 100vh;
	overflow-x: hidden;
}

header
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	background: #fff;
	padding: 20px 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 15px 15px rgba(0,0,0,0.10);
}

.logo
{
	color: #333;
	text-decoration: none;
	font-size: 1.5em;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.group
{
	display: flex;
	align-items: center;
}

header ul
{
	float: right;
	margin-right: 20px;
	position: relative;
	display: flex;
}

header ul li
{
	display: inline-block;
	line-height: 80px;
	margin: 0 15px;
	list-style: none;
}

header ul li a
{
	position: relative;
	text-decoration: none;
	font-size: 1em;
	font-weight: 700;
	color: #333;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

header ul li a::before
{
	content:''; 
	position: absolute;
	bottom: -2px;
	width: 100%;
	height: 2px;
	background: #333;
	transform: scaleX(0);
	transition: transform 0.5s ease-in-out;
	transform-origin: right;
}

header ul li a:hover::before
{
	transform: scaleX(1);
	transform-origin: left;
}

/* Dropdown Menu */
.dropbtn {
  background-color: #fff;
  color: #333;
  padding: 16px;
  font-size: 1em;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 700;
  margin-top: 13.5px;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #f1f1f1;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 30px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

/* Light/Dark Mode */
.dark-mode
{
	background-color: black;
	color: white;
}

/* Columns */
.wrapper
{
	padding-top: 150px;
	padding-left: 95px;
	padding-right: 150px;
	display: flex;
	margin-bottom: 175px;
}

/* Left Column */
.left
{
	flex: 2;
	padding-left: 100px;
}

.img-thumbnail
{
	border-color: white;
	width: 575px;
	height: 500px;
	padding-right: 40px;
	position: relative;
	border-radius: 50%;
	overflow: hidden;
}

.contactInfo
{
	margin-top: 60px;
}

.title
{
	color: #545356;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	margin-bottom: 20px;
	font-family: 'Roboto Slab', serif;
	font-size: 40px;
}

.contactInfo ul
{
	position: relative;

}

.contactInfo ul li
{
	position: relative;
	list-style: none;
	margin: 10px 0;
	cursor: pointer;
	font-size: 20px;
}

.contactInfo ul li .icon
{
	display: inline-block;
	width: 30px;
	font-size: 15px;
	color: #545356;
}

.contactInfo ul li span
{
	color: #545356;
	font-weight: 300;
}

.contactInfo a
{
	color: #545356;
	font-weight: 300;
	text-decoration: none;
}

/* Right Column */
.right
{
	flex: 2;
}

.right h2
{
	font-size: 15px
}

.contact-title
{
	margin-top: 100px;
	color: #545356;
	text-transform: uppercase;
	transform: all 4s ease-in-out;
}

.contact-title h1
{
	font-size: 32px;
	line-height: 40px;
}

.contact-title h2
{
	font-size: 16px;
}

.container
{
	width: 100%;
	height: 100vh;
	background: transparent;
	border: none;
	outline: none;
	border-bottom: 1px solid gray;
	margin-bottom: 16px;
	color: #545356;
	font-size: 16px;
}

form
{
	margin-top: 50px;
	transition: all 4s ease-in-out;
	background: white;
	display: flex;
	flex-direction: column;
	padding: 2vw 4vw;
	width: 90%;
	max-width: 600px;
	border-radius: 10px;
}

form h3 
{
	color: #555;
	font-weight: 800;
	margin-bottom: 20px;
}

form input, form textarea
{
	border: 0;
	margin: 10px 0;
	padding: 20px;
	outline: none;
	background: #f5f5f5;
	font-size: 16px;
}

form button
{
	padding: 15px;
	background-color: #CBCEDC;
	color: #545356;
	font-size: 18px;
	border: 0;
	outline: none;
	cursor: pointer;
	width: 150px;
	margin: 20px auto 0;
	border-radius: 30px;

}

form button:hover
{
	background-color: gray;
	cursor: pointer;
}

/* Footer */
footer
{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

h6 
{
	color: #99979b;
}












