/* Navigation */
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto Slab', serif;  
}

body
{
	background-color: white;
	min-height: 100vh;
	overflow-x: hidden;
}

header
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	background: #fff;
	padding: 20px 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 15px 15px rgba(0,0,0,0.10);
}

.logo
{
	color: #333;
	text-decoration: none;
	font-size: 1.5em;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.group
{
	display: flex;
	align-items: center;
}

header ul
{
	float: right;
	margin-right: 20px;
	position: relative;
	display: flex;
}

header ul li
{
	display: inline-block;
	line-height: 80px;
	margin: 0 15px;
	list-style: none;
}

header ul li a
{
	position: relative;
	text-decoration: none;
	font-size: 1em;
	font-weight: 700;
	color: #333;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

header ul li a::before
{
	content:''; 
	position: absolute;
	bottom: -2px;
	width: 100%;
	height: 2px;
	background: #333;
	transform: scaleX(0);
	transition: transform 0.5s ease-in-out;
	transform-origin: right;
}

header ul li a:hover::before
{
	transform: scaleX(1);
	transform-origin: left;
}

/* Dropdown Menu */
.dropbtn {
  background-color: #fff;
  color: #333;
  padding: 16px;
  font-size: 1em;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 700;
  margin-top: 13.5px;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #f1f1f1;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 30px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

/* Light/Dark Mode */
.dark-mode
{
	background-color: black;
	color: white;
}

/* Left Content */
.wrapper
{
	margin-bottom: 80px;
	margin-top: 40px;
}

.row
{
	padding-top: 150px;
	padding-left: 150px;
	padding-right: 150px;
	display: flex;
}

.column
{
	float: left;
	width: 50%;
	padding: 10px;
	height: 300px;
	background-color: white;
	margin-bottom: 100px;
}

h5
{
	font-size: 40px;
}

h4
{
	font-size: 20px
}

.row .column h4
{
	margin-top: 10px;
	margin-bottom: 5px;
}

p
{
	font-size: 17px;
	margin-bottom: 20px;
}

.column a
{
	font-size: 20px;
	text-decoration: none;
	text-transform: uppercase;
	position: relative;
	color: #424142;
	margin-bottom: 30px;
}

.icon
{
	width: 30px;
	font-size: 20px;
	margin-right: 10px;
	color: #545356;
}

.row .column ul li
{
	list-style: none;
}

.row .column li
{
	font-size: 10px;
	margin-bottom: 10px;
}

/* Right Content */
.usn
{
	width: 60%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5%;
}

.tad
{
	width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 7%;
}

.aim
{
	width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5%;
}

/* Footer */
footer
{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

h6 
{
	color: #99979b;
}
