/* Navigation */
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto Slab', serif;  
}

body
{
	background-color: white;
	min-height: 100vh;
	overflow-x: hidden;
}

header
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	background: #fff;
	padding: 20px 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 15px 15px rgba(0,0,0,0.10);
}

.logo
{
	color: #333;
	text-decoration: none;
	font-size: 1.5em;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.group
{
	display: flex;
	align-items: center;
}

header ul
{
	float: right;
	margin-right: 20px;
	position: relative;
	display: flex;
}

header ul li
{
	display: inline-block;
	line-height: 80px;
	margin: 0 15px;
	list-style: none;
}

header ul li a
{
	position: relative;
	text-decoration: none;
	font-size: 1em;
	font-weight: 700;
	color: #333;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

header ul li a::before
{
	content:''; 
	position: absolute;
	bottom: -2px;
	width: 100%;
	height: 2px;
	background: #333;
	transform: scaleX(0);
	transition: transform 0.5s ease-in-out;
	transform-origin: right;
}

header ul li a:hover::before
{
	transform: scaleX(1);
	transform-origin: left;
}

/* Dropdown Menu */
.dropbtn {
  background-color: #fff;
  color: #333;
  padding: 16px;
  font-size: 1em;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 700;
  margin-top: 13.5px;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #f1f1f1;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 30px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

/* Light/Dark Mode */
.dark-mode
{
	background-color: black;
	color: white;
}

/* Left Content */
.wrapper
{
	padding-top: 150px;
	padding-left: 150px;
	padding-right: 150px;
	display: flex;
}

h1
{
	font-size: 20px;
	margin-bottom: 20px;
}

h1 a
{
	position: relative;
	text-decoration: none;
	color: #424142;
}

h1 a::before
{
	background-color: #CBCEDC;
	content: "";
	position: absolute;
	width: calc(100% + 4px);
	height: 60%;
	left: -2px;
	bottom: 0;
	z-index: -1;
	transform: rotate(-2deg);
}

.left
{
	flex: 1.5;
}

.title2
{
	font-size: 30px;
}

.about .box
{
	display: flex;
	flex-direction: row;
	margin: 25px 0;
}

.skills .box
{
	position: relative;
	width: 100%;
	display: grid;
	grid-template-columns: 150px 1fr;
	justify-content: center;
	align-items: center;
}

.skills .box h4
{
	text-transform: uppercase;
	color: #b5b4b5;
	font-weight: 500;
	font-family: 'Roboto Slab', serif;
}

.skills .box .percent
{
	position: relative;
	width: 100%;
	height: 10px;
	background: #CBCEDC;
}

.skills .box .percent div
{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background: #817fa8;
}

.title
{
	font-size: 30px;
}

.contactInfo.certificate li
{
	margin-bottom: 15px;	
	list-style: none;
}

.contactInfo.certificate h5
{
	color: #424142;
	font-weight: 500;
	font-family: 'Roboto Slab', serif;
	margin-bottom: 5px;
	margin-top: 5px;
}

.contactInfo.certificate h4:nth-child(2) 
{
	color: #424142;
	font-weight: 500;
}

.contactInfo.certificate h4 
{
	color: #424142;
	font-weight: 300;
	color: #424142;
}


.contactInfo.activities li
{
	margin-bottom: 15px;	
	list-style: none;
}

.contactInfo.activities h5
{
	color: #545356;
	font-weight: 500;
	font-family: 'Roboto Slab', serif;
	margin-bottom: 5px;
	margin-top: 5px;
}

.contactInfo.activities h4:nth-child(2) 
{
	color: #545356;
	font-weight: 500;
}

.contactInfo.activities h4
{
	color: #545356;
	font-weight: 300;
	color: #545356;
}

/* Right Content */
.right
{
	flex: 2;
	margin-left: 45px;
}

.about .box .year-company
{
	min-width: 150px;
}

.about .box .year-company h5
{
	text-transform: uppercase;
	color: #b5b4b5;
	font-weight: 600;
	font-family: 'Roboto Slab', serif;
}


.about .box .text h4
{
	text-transform: uppercase;
	color: #424142;
	font-size: 16px;
	font-family: 'Roboto Slab', serif;
}

.about .box .text p
{
	margin-bottom: 7px;
}

.contactInfo.education li
{
	margin-bottom: 15px;
	list-style: none;
}

.contactInfo.education h5
{
	color: #424142;
	font-weight: 500;
	font-family: 'Roboto Slab', serif;
	margin-bottom: 5px;
	margin-top: 5px;
}

.contactInfo.education h4:nth-child(2) 
{
	color: #545356;
	font-weight: 500;
}

.contactInfo.education h4 
{
	color: #545356;
	font-weight: 300;
}

a
{
	text-decoration: none;
}

.interests ul
{
	display: grid;
	grid-template-columns: repeat(4,1fr);

}

.interests ul li
{
	list-style: none;
	color: #333;
	font-weight: 500;
	margin: 10px 0;
	margin-bottom: 30px;
	margin-top: 5px;
}

/* Footer */
footer
{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

h6 
{
	color: #99979b;
}
